

body{

    display: flex;
    flex-direction: column;
    background-color: rgb(252, 242, 225);
}
.title{
    text-align: center;
    color: black;
    font-size: 40px ;
}
.img-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img-container img{
  height: 400px;
  width:400px;

}
